#set__vito{
    position: relative;

    .set__img-wrapper{
        width: @vito-image-w;
        height: @vito-image-h;
    }

    .ellipse{
        top: 0;
        right: 0;
        bottom: 0;
        left: -30%;
        margin: auto;
        .anim(set-vito-anim, 5s);
    }

    img{
        position: relative;
        z-index: 1;
    }
}

@media screen and (max-width: 1300px) {
    #set__vito{
        order: 2;

        .set__img-wrapper{
            width: @vito-image-adptv-w;
            height: @vito-image-adptv-h;
        }
    }
}

@media screen and (max-width: 900px) {
    #set__vito{
        .ellipse{
            left: 0;
        }
    }
}