// цвет фона body
@bg-body: #000;

// цвет фона таблицы набора "Посылка с контрабандой"
@bg-set__about: rgba(0, 0, 0, 0.55);

// border th таблицы набора "Посылка с контрабандой"
@br-set__about: 1px solid rgba(103, 29, 0, 0.48);

// расстояние между ячейками таблицы набора "Посылка с контрабандой"
@bs-set-table: 0 3px;

//текст
@ff_roboto: 'Roboto', sans-serif;
@ff_condensed: 'Roboto Condensed', sans-serif;

@fs-title: 50px;
@fs-subtitle: 30px;
@fs-p_price: 42px;
@fs-p_large: 20px;
@fs-p_default: 16px;
@fs-p_small: 12px;

@fs-title-adptv: 40px;
@fs-subtitle-adptv: 20px;
@fs-p_price-adptv: 22px;
@fs-p_large-adptv: 16px;
@fs-p_default-adptv: 14px; 

@fw-bold: 700;
@fw-light: 400;
@ft: normal;
@lh: normal;
@main-color: #fff;
@subtitle-color: #416DF4;
@additional-color: #671D00;
@link-bg-color: #FCFF00;
@link-color: #000;

// ширина контентной части страницы
@content-width: 1920px;

// ширина h1 секции collections
@collections-h1-w: 730px;

// ширина p секции collections
@collections-p-w: 990px;

@collections-p-adptv-w: 320px;

// высота первой секции
@collection-wrap-h: 1000px;

// тень первой секции
@bsh: inset 0px -20px 210px 30px rgb(0 0 0);

// размеры изображений мужского костюма персонажа
@costume-man-w: 585px;
@costume-man-h: 876px;

// размеры изображений женского костюма персонажа
@costume-woman-w: 577px;
@costume-woman-h: 876px;

// размер изображежния колекционных изданий
@collections-boxes-w: 766px;
@collections-boxes-h: 525px;

@boxes-adptv-w: 500px;
@boxes-adptv-h: 325px;

@boxes-adptv-w_510: 95%; 

// размер логотипа
@logo-image-w: 376px;
@logo-image-h: 348px;

@logo-image-adptv-w: 95%;

// размер изображения Вито (собаки)
@vito-image-w: 440px;
@vito-image-h: 890px;

@vito-image-adptv-w: 300px;
@vito-image-adptv-h: 500px;

// размер иконок набора "посылка с контрабандой"
@set-icon-w: 65px;
@set-icon-h: 65px;

// размер изображения набора "посылка с контрабандой"
@set-img-w: 320px;
@set-img-h: 280px;

// фоновое изображение секции с костюмами для персонажей
@bg-collections: url('../../images/pictures/bg/bg_v1.png');

// фоновое изображение секции с Вито
@bg-set: url('../../images/pictures/bg/bg_v2.png');

