#collections__about{
    h1{
        max-width: 730px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 25px;
    }

    p{
        font-size: @fs-p_large;
    }
}